<header class="header">
	<a href="/" class="header_title">LBO</a>
	<nav class="nav">
		<a class="nav_link will_none" href="{% url 'home:home'%}">Главная</a>
		<a class="nav_link" href="{% url 'home:popular' %}">Популярные</a>
		{% if user.is_anonymous %}
		<a class="nav_link" href="{% url 'cabinet:login' %}">Войти</a>
		<a class="nav_link" href="{% url 'cabinet:reg' %}">Регистрация</a>
		{% else %}
		<a class="nav_link" href="{% url 'cabinet:cabinet' user.id %}">Профиль</a>
		<a class="nav_link" href="{% url 'cabinet:logout' %}">Выйти</a>
		{% endif %}
	</nav>
</header>